@mixin bp($point) {
  $one: $bp-card-two;
  $two: $bp-card-three;
  @if $point == one {
    @media (max-width: $one) {
      @content;
    }
  }
  @if $point == two {
    @media (min-width: $one + 1) and (max-width: $two) {
      @content;
    }
  }
  @if $point == three {
    @media (min-width: $two + 1) {
      @content;
    }
  }
  @if $point == two-plus {
    @media (min-width: $one + 1) {
      @content;
    }
  }
}

.cards {
  position: relative;
  .card {
    float: left;
    position: relative;
    margin-top: $card-margin;
    &__content {
      @include trim;
      width: 100%;
      box-sizing: border-box;
      padding: 5%;
      text-align: center;
      z-index: 2;
      @include bp(two-plus) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    &--image {
      @include bp(one) {
        .card__content {
          position: absolute;
          width: 100%;
          background: rgba($bg-body, 0.8);
        }
      }
      @include bp(two-plus) {
        .card__image {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transition: opacity 0.2s linear;
        }
        .card__content {
          opacity: 0;
          transition: opacity 0.2s linear;
        }
        &:hover {
          .card__image {
            opacity: 0.2;
          }
          .card__content {
            opacity: 1;
          }
        }
      }
    }
  }
}

.svg-icon {
  width: 2em;
}

.cards {
  @include bp(two-plus) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -$card-margin;
  }
  @include bp(three) {
    .card {
      width: 33.3%;
      width: calc(33.3% - #{2 / 3 * $card-margin});
      padding-bottom: 33.3% * $card-aspect-ratio;
      padding-bottom: calc(#{33.3% * $card-aspect-ratio} - #{2 / 3 * $card-margin * $card-aspect-ratio});
      &--about {
        position: relative;
        top: $card-margin / 2;
        left: $card-margin / 2;
      }
      &--codepen {
        order: 7;
      }
      &--twitter {
        order: 13;
      }
      &--youtube {
        order: 15;
      }
      &--instagram {
        order: 17;
      }
    }
  }
  @include bp(two) {
    .card {
      width: 50%;
      width: calc(50% - #{1 / 2 * $card-margin});
      padding-bottom: 50% * $card-aspect-ratio;
      padding-bottom: calc(#{50% * $card-aspect-ratio} - #{1 / 2 * $card-margin * $card-aspect-ratio});
      &--about {
        width: 100%;
      }
      &--codepen {
        order: 3;
      }
      &--twitter {
        order: 7;
      }
      &--youtube {
        order: 15;
      }
      &--instagram {
        order: 19;
      }
    }
  }
  @include bp(one) {
    justify-content: center;
    .card {
      width: 100%;
      height: auto;
      &--about {
        margin-top: 3em;
      }
      &--codepen {
        margin-left: 10%;
      }
      &--social {
        width: 20%;
        margin-bottom: 2em;
        .svg-icon {
          width: 1.5em;
        }
        h3 {
          display: none;
        }
      }
    }
  }
}
