doctype html
html
  head
    meta(charset="UTF-8")
    block title
      title Charlotte Dann
    neta(name="viewport" content="width=device-width")
    meta(name="author" content="Charlotte Dann")
    meta(name="description" content="Charlotte Dann is a web developer, jewellery designer, and all round cool gal. She likes making objects out of glass and silver, front-ends with a healthy serving of sass, and back-ends not really at all. I jest, she harbours a secret desire to be a proper programmer and not a mere maker of pretty things.")
    link(rel="author" href="https://plus.google.com/+CharlotteDann/posts")
    link(rel="stylesheet" href="/styles/main.css")
    link(rel="shortcut icon" href="/images/favicon.ico")
    link(rel="icon" type="image/png" href="/images/favicon-16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/images/favicon-32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/images/favicon-64.png" sizes="64x64")
    link(rel="icon" type="image/png" href="/images/favicon-180.png" sizes="180x180")
    link(rel="apple-touch-icon" href="/images/favicon-57.png" sizes="57x57")
    link(rel="apple-touch-icon" href="/images/favicon-72.png" sizes="72x72")
    link(rel="apple-touch-icon" href="/images/favicon-114.png" sizes="114x114")
    script.
      document.documentElement.className += ' wf-loading'
    block meta

  body

    block content

    script(src="https://use.typekit.net/wsw8myq.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '#{secret.ganalytics}', 'auto');
      ga('send', 'pageview');
