extend default

include partials/responsive-image

block content
  include partials/svg
  .cards
    .card.card--about(style="order: 0;")
      .card__content
        h1 Charlotte Dann
        p designer / maker
        p dreamer / doer
    .card.card--social.card--codepen
      .card__content
        a(href="http://codepen.io/pouretrebelle/" target="_blank")
          svg.svg-icon(viewBox="0 0 50 50")
            use(xlink:href="#icon-codepen")
          h3 Code Experiments
    .card.card--social.card--twitter
      .card__content
        a(href="https://twitter.com/charlotte_dann" target="_blank")
          svg.svg-icon(viewBox="0 0 50 50")
            use(xlink:href="#icon-twitter")
          h3 Twitter
    .card.card--social.card--youtube
      .card__content
        a(href="https://www.youtube.com/chareads" target="_blank")
          svg.svg-icon(viewBox="0 0 50 50")
            use(xlink:href="#icon-youtube")
          h3 Chareads
    .card.card--social.card--instagram
      .card__content
        a(href="https://instagram.com/charlottedann" target="_blank")
          svg.svg-icon(viewBox="0 0 50 50")
            use(xlink:href="#icon-instagram")
          h3 Instagram

    each project, i in collections.projects
      .card.card--image(style="order: #{i * 2 + 2};")
        a(href="#{project.path}")
          .card__content
            h2= project.title
          +image('/images/thumbnails/' + project.thumbnail, '(min-width: 900px) 33vw, (min-width: 600px) 50vw, 100vw')(class="card__image" alt=project.title)
